div{
    text-align: center;
}

body{
    background-color: blue;
}

.roomName{
    margin-left: 10%;
    margin-right: 10%;
}

.searchUser{
    margin-left: 20%;
    margin-right: 20%;
}

.input-group-btn{
    margin-left: 0%;
}

.scrolling{
    overflow-y: scroll;
    height: 45%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.top{
    height: 10%;
}

html,body{
    height: 100%;
}

.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}

btn-primary{
    float: left;
    margin-left: 20%;
    margin-right: 20%;
}

.btn-danger{
    float: right;
    margin-left: 20%;
    margin-right: 20%;
}

